<div class="card p-3 mt-3">
    <div class="table-responsive  mt-3">
        <table id="tableID" class="display">
            <thead style="background-color: rgb(231, 252, 231); " class="mt-3">
                <tr>
<th>inflows</th>
<th>outflows</th>
<th>net cash flow</th>
<th>inflow sources</th>
<th>outflow categories</th>
<th>reported date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
<td>{{data.inflows}}</td>
<td>{{data.outflows}}</td>
<td>{{data.net_cash_flow}}</td>
<td>{{data.inflow_sources}}</td>
<td>{{data.outflow_categories}}</td>
<td>{{data.reported_date}}</td>
                    <td>
                        <a href="{% url 'cashflowstatement_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'cashflowstatement_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


 {% endblock %}
        