{% extends 'base.html' %}
{% block body_block %}
{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% comment %} {% if request.user.maker %} {% endcomment %}
                {% if request.session.user_data.maker %}
                <a href="{% url 'customersatisfaction_create' %}">
                    <button type="button" class="btn btn-primary float-right">+ New</button>
                </a>

                {% endif %}
                <h4 class="card-title">{{screen_name}}</h4>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="true">New</a>
                        <a class="nav-item nav-link" id="nav-pendingapproval-tab" data-toggle="tab" href="#nav-pendingapproval" role="tab" aria-controls="nav-pendingapproval" aria-selected="false">
                        Pending Approval
                        </a>
                        <a class="nav-item nav-link" id="authorize-request-tab" data-toggle="tab" href="#authorize-request" role="tab" aria-controls="authorize-request" aria-selected="false">
                        Authorize Request
                        </a>
                        {% comment %} {% if request.user.checker %} {% endcomment %}
                        {% if request.session.user_data.checker %}
                        <a class="nav-item nav-link" id="nav-pendingapproval-tab" data-toggle="tab" href="#nav-pendingapproval" role="tab" aria-controls="nav-pendingapproval" aria-selected="false">Pending Approval</a>
                        <a class="nav-item nav-link" id="nav-approved-tab" data-toggle="tab" href="#nav-approved" role="tab" aria-controls="nav-approved" aria-selected="false">Approved</a>
                        <a class="nav-item nav-link" id="nav-processed-tab" data-toggle="tab" href="#nav-processed" role="tab" aria-controls="nav-processed" aria-selected="false">Processed</a>
                        {% endif %}
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <!-- New Tab -->
                    <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                        <div class="table-responsive">
                            <table id="tableID" class="display table table-hover">
                                <thead class="bg-col">
                                    <tr>
                                        <th>No.</th>
                                        {% comment %} <th>Code</th> {% endcomment %}
<th>surveys conducted</th>
<th>satisfaction score</th>
<th>top complaints</th>
<th>net promoter score</th>
<th>repeat customer percentage</th>
<th>reported date</th>
<th>survey response rate</th>
<th>comments</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in obj %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% comment %} <td>{{ data.code }}</td> {% endcomment %}
<td>{{data.surveys_conducted}}</td>
<td>{{data.satisfaction_score}}</td>
<td>{{data.top_complaints}}</td>
<td>{{data.net_promoter_score}}</td>
<td>{{data.repeat_customer_percentage}}</td>
<td>{{data.reported_date}}</td>
<td>{{data.survey_response_rate}}</td>
<td>{{data.comments}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuIconButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton2">
                                                    <a class="dropdown-item" href="{% url 'customersatisfaction_view' data.code %}">
                                                        <button class="btn iconbg-yellow" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fas fa-eye"></i>View</button>
                                                    </a>
                                                    <a class="dropdown-item" href="{% url 'customersatisfaction_update' data.code %}">
                                                        <button class="btn iconbg-yellow" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fas fa-edit"></i>Edit</button>
                                                    </a>
                                                    <a class="dropdown-item" href="{% url 'customersatisfaction_delete' data.code %}">
                                                        <button class="btn iconbg-rose" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fas fa-trash-alt"></i>Delete</button>
                                                    </a>
                                                    <a class="dropdown-item" href="{% url 'delegate_record' pk=data.code app_name='marketingand_customer_relations_department' model_name='CustomerSatisfaction' url='customersatisfaction_list' %}">
                                                        <button class="btn iconbg-rose" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fas fa-user-shield"></i> Delegate</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Pending Approval Tab -->
                    <div class="tab-pane fade" id="nav-pendingapproval" role="tabpanel" aria-labelledby="nav-pendingapproval-tab">
                        <div class="table-responsive">
                            <table id="tableID" class="display table table-hover">
                                <thead class="bg-col">
                                    <tr>
                                        <th>No.</th>
                                        <th>Code</th>
<th>surveys conducted</th>
<th>satisfaction score</th>
<th>top complaints</th>
<th>net promoter score</th>
<th>repeat customer percentage</th>
<th>reported date</th>
<th>survey response rate</th>
<th>comments</th>
                                        <th>Status</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in obj_pa %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'customersatisfaction_pa' data.code %}">{{ data.code }}</a></td>
<td>{{data.surveys_conducted}}</td>
<td>{{data.satisfaction_score}}</td>
<td>{{data.top_complaints}}</td>
<td>{{data.net_promoter_score}}</td>
<td>{{data.repeat_customer_percentage}}</td>
<td>{{data.reported_date}}</td>
<td>{{data.survey_response_rate}}</td>
<td>{{data.comments}}</td>
                                        <td>{{ data.status }}</td>
                                        <td>{{ data.notes }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="authorize-request" role="tabpanel" aria-labelledby="authorize-request-tab">
                        <div class="table-responsive">
                            <table id="tableID" class="display table table-hover">
                                <thead class="bg-col">
                                    <tr>
                                        <th>No.ss</th>
                                        <th>record id</th>
                                        <th>table name</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in obj_wait_auth %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'customersatisfaction_authorize_request' data.id %}">{{ data.record_id }}</a></td>
                                        <td>{{ data.table_name }}</td>
                                        <td>{{ data.created_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Approved Tab -->
                    <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab">
                        <div class="table-responsive">
                            <table id="tableID" class="display table table-hover">
                                <thead class="bg-col">
                                    <tr>
                                        <th>No.</th>
                                        <th>Code</th>
<th>surveys conducted</th>
<th>satisfaction score</th>
<th>top complaints</th>
<th>net promoter score</th>
<th>repeat customer percentage</th>
<th>reported date</th>
<th>survey response rate</th>
<th>comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in obj %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.code }}</td>
<td>{{data.surveys_conducted}}</td>
<td>{{data.satisfaction_score}}</td>
<td>{{data.top_complaints}}</td>
<td>{{data.net_promoter_score}}</td>
<td>{{data.repeat_customer_percentage}}</td>
<td>{{data.reported_date}}</td>
<td>{{data.survey_response_rate}}</td>
<td>{{data.comments}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Processed Tab -->
                    <div class="tab-pane fade" id="nav-processed" role="tabpanel" aria-labelledby="nav-processed-tab">
                        <div class="table-responsive">
                            <table id="tableID" class="display table table-hover">
                                <thead class="bg-col">
                                    <tr>
                                        <th>No.</th>
                                        <th>Code</th>
<th>surveys conducted</th>
<th>satisfaction score</th>
<th>top complaints</th>
<th>net promoter score</th>
<th>repeat customer percentage</th>
<th>reported date</th>
<th>survey response rate</th>
<th>comments</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in obj %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.code }}</td>
<td>{{data.surveys_conducted}}</td>
<td>{{data.satisfaction_score}}</td>
<td>{{data.top_complaints}}</td>
<td>{{data.net_promoter_score}}</td>
<td>{{data.repeat_customer_percentage}}</td>
<td>{{data.reported_date}}</td>
<td>{{data.survey_response_rate}}</td>
<td>{{data.comments}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuIconButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton2">
                                                    <a class="dropdown-item" href="{% url 'customersatisfaction_view' data.code %}">
                                                        <button class="btn iconbg-yellow" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fas fa-eye"></i>View</button>
                                                    </a>
                                                    {% comment %} <a class="dropdown-item">
                                                        <button class="btn iconbg-yellow" data-bs-toggle="tooltip" data-bs-placement="top" title="View"><i class="fas fa-eye"></i> View</button>
                                                    </a> {% endcomment %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br><br><br>

            </div>
        </div>
    </div>
</div>


{% endblock %}


