<div class="card p-3 mt-3">
    <div class="table-responsive  mt-3">
        <table id="tableID" class="display">
            <thead style="background-color: rgb(231, 252, 231); " class="mt-3">
                <tr>
<th>surveys conducted</th>
<th>satisfaction score</th>
<th>top complaints</th>
<th>net promoter score</th>
<th>repeat customer percentage</th>
<th>reported date</th>
<th>survey response rate</th>
<th>comments</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
<td>{{data.surveys_conducted}}</td>
<td>{{data.satisfaction_score}}</td>
<td>{{data.top_complaints}}</td>
<td>{{data.net_promoter_score}}</td>
<td>{{data.repeat_customer_percentage}}</td>
<td>{{data.reported_date}}</td>
<td>{{data.survey_response_rate}}</td>
<td>{{data.comments}}</td>
                    <td>
                        <a href="{% url 'customersatisfaction_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'customersatisfaction_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


 {% endblock %}
        