<div class="card p-3 mt-3">
    <div class="table-responsive  mt-3">
        <table id="tableID" class="display">
            <thead style="background-color: rgb(231, 252, 231); " class="mt-3">
                <tr>
<th>pending leave requests</th>
<th>total leave days taken</th>
<th>average leave days per staff</th>
<th>highest leave days</th>
<th>lowest leave days</th>
<th>reported date</th>
<th>leave trends</th>
<th>leave policy notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
<td>{{data.pending_leave_requests}}</td>
<td>{{data.total_leave_days_taken}}</td>
<td>{{data.average_leave_days_per_staff}}</td>
<td>{{data.highest_leave_days}}</td>
<td>{{data.lowest_leave_days}}</td>
<td>{{data.reported_date}}</td>
<td>{{data.leave_trends}}</td>
<td>{{data.leave_policy_notes}}</td>
                    <td>
                        <a href="{% url 'leavemanagement_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'leavemanagement_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


 {% endblock %}
        